 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #ffb6f0, #cdb4ff, #a0e7ff);
      background-size: 300% 300%;
      animation: candyflow 10s ease infinite;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: relative;
      color: #4a2f52;
      overflow: hidden;
    }

    @keyframes candyflow {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }


    .ctn-btn a,.btn-login{
      display: inline-block;
      text-decoration: none;
      background: linear-gradient(45deg, #ffb6f0, #cdb4ff, #a0e7ff);
      color: #4a2f52;
      padding: 12px 30px;
      border-radius: 30px;
      font-weight: 600;
      transition: background 0.3s ease, transform 0.2s ease;
      text-decoration: none;
      border: none;

    }

    .ctn-btn a:hover,.btn-login:hover {
      background: linear-gradient(45deg, #a0e7ff, #ffb6f0);
      color: #fff;
      transform: scale(1.05);
    }
    
   
    .btn-login{
        width: 100%;
    }